body {
	background-color: #1e1e1e;
}

#gallery {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#gallery div {
	display: flex;
	justify-content: center;
}

#gallery div img {
	max-height: 800px;
	width: 98%;
}
